.card {
    position: relative;
}

.card:hover .flip{
    transform: rotateY(180deg);
}

.flip {
    position: absolute;
    transform-style: preserve-3d;
    transition: all 1s;
}

.frontCard, 
.backCard {
    position: absolute;
    backface-visibility: hidden;
}

.backCard {
    transform: rotateY(180deg);
}